---
import Section from "../Section.astro";

import { work } from "@cv";
---

<Section title="Work Experience">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <section>
                    <div>
                      {highlights.map((name) => (
                        <ul class="list">
                          <p class="custom-space">• {name}</p>
                        </ul>
                      ))}
                    </div>

                    <div>
                      <p class="custom-space">{summary}</p>
                    </div>
                  </section>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  custom-space {
    padding-block: 32px !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
  }

  .list li::before {
    content: attr(data-icon);
    padding-right: 10px;
    font-size: inherit;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
